# Environment variables
.env
.env.local
.env*.local
*.env
*.env.local

# Vercel (remove secrets from this file)
vercel.json

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js
.next/
out/
dist/

# Prisma
prisma/*.db
prisma/*.sqlite

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
